# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=mysql://groops:efiaAwpJntprBKFS@gr-oops.com:3306/groops
# DATABASE_URL="file:./db.sqlite"

# Clerk Auth (Henry's account)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZXF1aXBwZWQtZGluZ28tMTAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_6AJdj8zbZx1vTaPLTJHwEW0vwm9ZaB92TFBqjPK69I

# Next Auth (Henry's account)
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=9CI7aMHjYRw9qgqONCU/zrwzYn6/9sWPMQ5tRA7+hBk= 
NEXTAUTH_URL=http://localhost:3000 

# Next Auth Google Provider (Henry's account)
GOOGLE_CLIENT_ID=472645800231-9oid5bg470e023nbf9ebqcj73acirjsq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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 

MINIO_ACCESS_KEY=LcqhcfSNAW8XMSji
MINIO_SECRET_KEY=LFnne47pYrmYaPtki35uyrC9mO8u19um
MINIO_ENDPOINT=https://api.gr-oops.com
MINIO_REGION=us-east-1
